*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container{
    width: 100%;
    min-height: 100vh;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    background-image: url(images/background.png);
}

.navbar{
    width: 100%;
    display: flex;
    align-items: center;
}

.logo{
    width: 80px;
    cursor: pointer;
    margin: 10px 0;
}

.menu-icon{
    width: 35px;
    cursor: pointer;
    display: none;
}

nav{
    flex: 1;
    text-align: right;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 14px
}

nav ul li a:hover{
    color: #38ef7d;
}

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0;
}

.col-1{
    flex-basis: 40%;
    position: relative;
    margin-left: 50px;
}

.col-1 h2{
    color: #FFFFFF;
    font-size: 54px;
}

.col-1 h3{
    font-size: 54px;
    color: #707070;
    font-weight: 100;
    margin: 20px 0 10px;
}

.col-1 p{
    font-size: 16px;
    color: #b7b7b7;
    font-weight: 100;
}

.col-1 h4{
    color: #FFF;
    margin: 30px 0;
    font-size: 20px;
}

button{
    width: 140px;
    border: 0;
    padding: 12px 10px;
    outline: none;
    color: #fff;
    background: linear-gradient(to right, #11998e, #38ef7d);
    border-radius: 6px;
    cursor: pointer;
    transition: width 0.5s;
}

button img{
    width: 30px;
    display: none;
}

button:hover img{
    display: block;
}

button:hover{
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.col-1::after{
    content: '';
    width: 10px;
    height: 57%;
    background: linear-gradient(#11998e, #38ef7d);
    position: absolute;
    left: -40px;
    top: 8px;
}

.col-2{
    position: relative;
    flex-basis: 60%;
    display: flex;
    align-items: center;
}

.col-2 .controller{
    width: 65%;
    padding-left: 10%;
    z-index: 1;
}

.color-box{
    position: absolute;
    right: 0;
    top: 0;
    background: linear-gradient(#11998e, #38ef7d);
    border-radius: 20px 0 0 20px;
    height: 100%;
    width: 80%;
    transform: translateX(121px);
}

.cpr{
    width: 177px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, #11998e, #38ef7d);
    
}

.cpr p{
    text-align: center;
    font-size: 10px;
    font-weight: 100;
    color: #fff;
    font-style: bold;
    font-family: monospace;
}





.content{
    display: flex;
    position: relative;
}


.myimg{
    position: relative;
    flex-basis: 30%;
    align-items: center;
}

.myimg .propic{
    width: 110%;
    border-radius: 10px 0px 10px 0px;
}

.information{
    flex-basis: 70%;
    position: relative;
    margin-left: 50px;
}

.infobg{
    position: absolute;
    right: 0;
    top: 0;
    background-color: white;
    opacity: 0.35;
    border-radius: 0px 0px 0px 0px;
    height: 100%;
    width: 67%;
    transform: translateX(0px);
}

.information p{
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    font-size: 20px;
    font-weight: 100;
    color: #fff;
    font-style: bold;
    font-family: monospace;
    z-index: 1;
    border: 1px solid;
    border-image-slice: 1;
    border-width: 5px;
    border-image-source: linear-gradient(to right, #11998e, #38ef7d);
}

.content::before{
    content: '';
    width: 100%;
    height: 5px;
    background: linear-gradient(to right, #11998e, #38ef7d);
    position: absolute;
    left: 0px;
    top: -40px;
    border-radius: 6px;
}








@media only screen and (max-width: 700px){
    nav ul{
        width: 100%;
        background: linear-gradient(#11998e, #38ef7d);
        position: absolute;
        top: 75px;
        right: 0;
        z-index: 2;
    }
    
    nav ul li{
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    nav ul li a{
        color: #fff;
    }
    
    .menu-icon{
        display: block;
    }
    #menuList{
        overflow: hidden;
        transition: 0.5s;
    }
    
    .row{
        flex-direction: column-reverse;
        margin: 50px 0;
    }
    
    .col-2{
        flex-basis: 100%;
        margin-bottom: 50px;
    }
    
    .col-2 .controller{
        width: 77%;
    }
    
    .color-box{
        transform: translateX(30px)
    }
    
    .col-1{
        flex-basis: 100%;
    }
    
    .col-1 h2{
        font-size: 35px;
    }
    
    .col-1 h3{
        font-size: 15px;
    }
    
    .content{
        flex-direction: column;
        margin: 50px 0;

    }
    .myimg{
        flex-basis: 100%;
        margin-bottom: 50px;
        padding-left: 100px;
    }
    
    .myimg .propic{
        flex-basis: 100%;
        width: 70%;
    }
    
    .information{
        flex-basis: 100%;
        flex-direction: column-reverse;
    }
    
    .infobg{
        height: 58%;
        width: 85%;
        transform: translateY(297px);
    }
    
    .information p{
        font-size: 10px;
    }
}
